<h1>Live Science: Animal Articles</h1>
<button id="new-scrape">Scrape for more articles</button>
<div id="article">
	<ul>
		{{#each article}}
			<li class="single">
				<h3>{{{this.title}}}</h3>
				<p>{{this.date}}</p>
				<p>{{{this.summary}}}</p>
				<a href="{{{this.link}}}">Read Full Article</a>
				<hr />
				<p>notes:</p>
				<ul>
					{{#each this.notes}}
						<button class="delete-note" data-id="{{this.id}}" data-article="{{../id}}">x</button>
						<li><b>{{this.title}}</b><br/>{{this.body}}</li>
					{{/each}}
				</ul>
				<button class="add-note">New Note</button>
				<form class="new-note" data-id="{{this.id}}">
					title: <input type="text" class="title" /><br>
					body: <textarea class="body"></textarea>
					<button type="submit">Add Note</button>
				</form>
			</li>
		{{/each}}
	</ul>
</div>
